In [3]:
language = 'Python'
lst = list(language)
print(type(lst))# changing the string to list
print(lst)           # ['P', 'y', 't', 'h', 'o', 'n']

<class 'list'>
['P', 'y', 't', 'h', 'o', 'n']

In [5]:
language = 'tharaka'
lst = [i for i in language]
print(type(lst)) # list
print(lst)       # ['P', 'y', 't', 'h', 'o', 'n']

<class 'list'>
['t', 'h', 'a', 'r', 'a', 'k', 'a']

In [5]:
numbers = [i for i in range(111)]  # to generate numbers from 0 to 10
print(numbers)                    # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [9]:
squares = []
for i in range(10):
       squares.append(i * i)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
squares = [i for i in range(10)]
print(squares)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
evens = []
for i in range(20):
    if i % 2 == 0:
        evens.append(i)
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
evens = [i for i in range(20) if i % 2 == 0]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
names = ["alice", "bob", "charlie"]
upper_names = []
for name in names:
    upper_names.append(name.upper())
print(upper_names)

['ALICE', 'BOB', 'CHARLIE']

In [16]:
names = ["alice", "bob", "charlie"]
upper_names = [name.upper() for name in names]
print(upper_names)

['ALICE', 'BOB', 'CHARLIE']

In [18]:
even_numbers = [i for i in range(21) if i % 2 == 0]  # to generate even numbers list in range 0 to 21
print(even_numbers)                    # [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
odd_numbers = [i for i in range(21) if i % 2 != 0]  # to generate odd numbers in range 0 to 21
print(odd_numbers)                      # [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
numbers = [-8, -7, -3, -1, 0, 1, 3, 4, 5, 7, 6, 8, 10]
positive_even_numbers = [i for i in range(21) if i % 2 == 0 and i < 0]
print(positive_even_numbers)                    # [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[]

In [24]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [ number for row in list_of_lists for number in row]
print(flattened_list)    # [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
letters = ['a', 'b', 'c']
indexed_letters = []
for index, letter in enumerate(letters):
    indexed_letters.append((index, letter))

print(indexed_letters)

[(0, 'a'), (1, 'b'), (2, 'c')]

In [27]:
letters = ['a', 'b', 'c']
indexed_letters = [(index, letter) for index, letter in enumerate(letters)]
print(indexed_letters)

[(0, 'a'), (1, 'b'), (2, 'c')]